*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/android-sdk/
*.zip
*.jar
*.apk
*.aab
*.dex
*.class
*.log
*.hprof
*.prof
*.trace
*.traceview
*.traceview.bak
*.traceview.html
*.traceview.json
*.traceview.txt
*.traceview.xml
*.traceview.zip
*.traceview.zip.bak
*.traceview.zip.html
*.traceview.zip.json
*.traceview.zip.txt
*.traceview.zip.xml
*.traceview.zip.zip
*.traceview.zip.zip.bak
*.traceview.zip.zip.html
*.traceview.zip.zip.json
*.traceview.zip.zip.txt
*.traceview.zip.zip.xml
*.traceview.zip.zip.zip
*.traceview.zip.zip.zip.bak
*.traceview.zip.zip.zip.html
*.traceview.zip.zip.zip.json
*.traceview.zip.zip.zip.txt
*.traceview.zip.zip.zip.xml
*.traceview.zip.zip.zip.zip
*.traceview.zip.zip.zip.zip.bak
*.traceview.zip.zip.zip.zip.html
*.traceview.zip.zip.zip.zip.json
*.traceview.zip.zip.zip.zip.txt
*.traceview.zip.zip.zip.zip.xml
*.traceview.zip.zip.zip.zip.zip
*.traceview.zip.zip.zip.zip.zip.bak
*.traceview.zip.zip.zip.zip.zip.html
*.traceview.zip.zip.zip.zip.zip.json
*.traceview.zip.zip.zip.zip.zip.txt
*.traceview.zip.zip.zip.zip.zip.xml 